
/* Variables */

:root{
    --green-color: #00980C;
    --greenDark-color: #017e0c;
    --white-color: white;
    --gray-color: #9A9898;
    --grayDark-color:#211D1D;


}

html,body, label{
    padding: 0px;
    margin: 0px;
    font-size: 15px;
    font-family: Helvetica;
    font-weight: lighter;
}


h1{
    font-size: 30px;
    font-family: Helvetica;
    font-weight: 500;
    color:var(--gray-color);
}

h2{
    font-size: 20px;
    font-family: Helvetica;
    font-weight: lighter;
    color:var(--gray-color);
}


/* Nav Style */
nav{
    display: flex;
    background-color: var(--grayDark-color);
    padding: 10 px;
    color: var(--white-color);
    justify-content: space-between;
    align-items: center;
}
nav ul{
    display: flex;
}

nav li{
    padding-left: 20px;
    padding-right: 20px;
    list-style: none; 
}

nav li a{
    color: var(--white-color);
    text-decoration: none;
}

nav li a:hover {
    color:var(--gray-color);
}

nav .brand_image{
    display: flex;
}

nav .brand_image p{
    display: inline-block;
    font-size: 20px;
}

nav .brand_image:hover p{
    color: var(--gray-color);
    cursor: pointer;
}

/* Main Style */

.main_section{
    padding: 15%;
    text-align: center;
}
nav a {
    color: var(--white-color);
}

.products{
    background-image: url("../images/fondoCurvo.png");
    height: 50px;
    background-size: cover;
    background-position: center top;
    padding: 20%;
    display: flex;
    justify-content: center;
}

.product{
    padding: 15px;
    margin-top: -440px;
}

.product .content{
    background-color: var(--white-color);
    padding: 15px;
    box-shadow: 0 0 2px;
}

.image_content{
    text-align: center;
}

.image_content img{
    width: 150px;
    height: 100px;
}

.main_button{
    background-color:var(--green-color) ;
    width: 100%;
    padding: 10px;
    font-size: 15px;
    color: var(--white-color);
    border: none;
    cursor: pointer;
    border-radius: 2px;
}

.main_button:hover{
    background-color: var(--greenDark-color);
}

/* Benefits Style */

.benefits{
    height: 50px;
    background-size: cover;
    background-position: center top;
    padding: 20%;
    display: flex;
    justify-content: center;
}

.benefit .content{
    background-color: var(--white-color);
    padding: 15px;
}

.benefit{
    padding: 15px;
    margin-top: -140px;
}

.image_benefits img{
    width: 270px;
    height: 130px;
    border-radius: 10%;
}

/* Mentions Style*/

.mentions{
    height: 50px;
    background-size: cover;
    background-position: center top;
    padding: 20%;
    display: flex;
    justify-content: center;
}

.mention{
    padding: 15px;
    margin-top: -240px;
    border: 0px;
}

.mention .content{
    background-color: var(--white-color);
    padding: 15px;
   
}

.image_mention img{
    width: 250px;
    height: 130px;
    border-radius: 20%;
}

.mentions_title{
    border-bottom: 1px solid var(--grayDark-color);
    text-align: center;
    padding: 15px;
}


/* Form Style*/

.modulo_pago{
    background-color: var(--white-color);
    padding: 10px;
}


.modulo_pago_images{
    max-width: 200px;
    text-align: center;
    width: 100%;
    margin: auto;
}

.data{
    margin-top: 8px;
    margin-bottom: 8px;
    width: 100%;
    height: 35px;
    border-radius: 2px;
    border: 1px solid;
    box-sizing: border-box;
}

.modulo_pago .main_button{
    margin-top: 10px;
}


/* ------------------------------------------- Footer */
footer{
    display: flex;
    justify-content: space-between;
    font-size: 15px;
    background-color: var(--grayDark-color);
    padding: 10px;
    color: var(--white-color);
  }
  .contact a{
    color: var(--green-color);
  }